body {
    font-family: 'Roboto', sans-serif; /* police principale */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Police de secours */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.card-white {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-circle {
    border-radius: 50%;
    margin-bottom: 20px;
}

.btn-blue {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.btn-blue:hover {
    background-color: #0056b3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif; /* police principale */
    font-weight: bold;
    color: #333;
}

/* Police de secours */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v22/0QIvMX1D_JOuMwf7I_FMl_E.woff2) format('woff2');
}

ul.list-inline {
    padding-left: 0;
    list-style: none;
}

ul.list-inline li {
    display: inline-block;
    margin-right: 10px;
}

ul.list-inline li:last-child {
    margin-right: 0;
}

.fab {
    font-size: 30px;
    color: #007bff;
}

.fab:hover {
    color: #0056b3;
}
